:root {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    --color-darkblue: #03256c;
    --color-black: #00171f; 
    --color-primary: #2667FF; 
    --color-secondary: #3F8EFC;
    --color-grey: #edf2fb; 
    --color-light: #e2eafc;
    --color-white: #ffffff;
    box-sizing: border-box;
   
}

body{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #03045e, #2667FF, #3B28CC,#03256c, #edf2fb);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 0 100%;
    }
    10% {
        background-position: 0 50%;
    }
}

/*
animation-name: "color"; 
animation-duration: 12s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;

*/
.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 26px;
    box-shadow: 5px 20px 50px var(--color-secondary);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#check {
    display: none;
}

.signup {
    position:relative; 
    width: 100%;
    height: 100%;
}
label {
    color: var(--color-primary);
    font-size: 2rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;

}

input {
    width: 60%;
    height: 20px;
    background: var(--color-grey);
    justify-content: center;
    display:flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline:none;
    border-radius: 26px
}

button {
    width: 80px;
    height: 40px;
    margin: 10px auto; 
    justify-content:center; 
    display: block;
    color: var(--color-white);
    background: var(--color-secondary);
    font-size: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 26px;
    transition: .2s ease-in-out;
    cursor: pointer;
    
}

button:hover {
    background: var(--color-primary);
}
.login {
    height: 460px;
    background: var(--color-grey);
    border-radius: 40% / 20%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label {
    color: var(--color-darkblue);
    transform: scale(.6s);
    font-size: large;


}
#check:checked ~ .login {
    transform:translateY(-500px)
}

#check:checked ~ .login label {
    transform: scale(1);
}
#check:checked ~ .signup label {
    transform: scale(.6s);
}

/*
@media "media type" and (condition breakproint) {
 Responsive website for laptops 
 @media screen and (max-width:1200px) {
    .container {
        width: 96%;
    }

    main .container {
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    .main .container .left .profile {
        display: none;
    }

    .sidebar h3 {
        display: none;
    }

    .left .btn {
        display: none;
    }
}
}

*/

