:root {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    background: linear-gradient(to bottom), 
    #03045e, #2667FF, #3B28CC;
    --color-darkblue: #03256c;
    --color-black: #00171f; 
    --color-primary: #2667FF; 
    --color-secondary: #3F8EFC;
    --color-tertiary: #192bc2;
    --color-grey: #edf2fb; 
    --color-light: #e2eafc;
    --color-white: #ffffff
}

.main {
    width: 400px;
    height: 500px;
    background: linear-gradient(to bottom), 
    var(--color-black, --color-darkblue, --color-light);
    overflow: hidden;
    border-radius: 26px;
    box-shadow: 5px 20px 50px var(--color-secondary);
}

#logo {
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
margin-top: 5px;
}

#check {
    display: none;
}

.signup {
    position:relative; 
    width: 100%;
    height: 100%;
}
label {
    color: var(--color-primary);
    font-size: 2rem;
    justify-content: center;
    display: flex;
    margin: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;

}

input {
    width: 60%;
    height: 20px;
    background: var(--color-grey);
    justify-content: center;
    display:flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline:none;
    border-radius: 26px
}

button {
    width: 80px;
    height: 40px;
    margin: 10px auto; 
    justify-content:center; 
    display: block;
    color: var(--color-white);
    background: var(--color-primary);
    font-size: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 26px;
    transition: .2s ease-in-out;
    cursor: pointer;
    
}

button:hover {
    background: var(--color-tertiary);
}
.login {
    height: 700px;
    background: var(--color-grey);
    border-radius: 40% / 20%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label {
    color: var(--color-darkblue);
    transform: scale(.6s);
    font-size: 1.5rem;


}
#check:checked ~ .login {
    transform:translateY(-500px)
}

#check:checked ~ .login label {
    transform: scale(1);
}
#check:checked ~ .signup label {
    transform: scale(.6s);
}

        /* Responsive website for laptops */
        @media screen and (max-width:1200px) {
            .container {
                width: 96%;
            }
        
            main .container {
                grid-template-columns: 5rem auto 30vw;
                gap: 1rem;
            }
        
            .left {
                width: 5rem;
                z-index: 5;
            }
        
            .main .container .left .profile {
                display: none;
            }
        
            .sidebar h3 {
                display: none;
            }
        
            .left .btn {
                display: none;
            }
        }
        